#addCardModal .modal-body {
    position: relative;
    padding: 15px;
}
#addCardModal .card-submit{
	margin-top: 25px;
}
#addCardModal.modal .close {
    position: absolute;
    right: 15px;
    top: 16px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: unset;
    opacity: 1;
}
.paymentmethods .item.active{
	border: 0.5px solid #248747;
}
.businessdetails .businessdetailsinner .selectdays{
    padding: 10px;
}
.pt-5{
    padding-top: 5px; 
}
.pt-2{
    padding-top: 2px; 
}
.pt-10{
    padding-top: 10px; 
}
.businessdetailsbox .profileform .formfield .office-opening-hours input{
    padding: 3px 20px;
    font-size: 15px;
}
.businessdetailsbox .profileform .formfield .selectdays{
    height: 317px;
}
.profileform .buttons.updateprof a.unlist {
    border: 0.5px solid #CF2929;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #CF2929;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    width: 48%;
    padding: 10px 0;
    display: inline-block;
}
#success-popup.modal .close {
    position: absolute;
    right: 15px;
    top: 16px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: unset;
    opacity: 1;
}
#success-popup.modal h4{
    color: black;
    font-weight: bold;
    padding: 24px;
}
#success-popup.modal p{
    color: black;
    padding: 18px;
}
.loginheader .myaccount .dropdown-menu{
    width:unset;
}
.loginheader .myaccount .dropdown button, .loginheader .myaccount .dropdown button:active, .loginheader .myaccount .dropdown button:focus{
    padding-right: 25px;
}